.home {
  .section {
    width: 100%;
    height: 35rem;

    &.one {
      background-color: white;
    }
    &.two {
      background-color: #00a2ff;
    }
    &.three {
      background-color: white;
    }
  }
}
