.home {
  .section {
    width: 100%;
    height: 45rem;

    &.two {
      background-image: linear-gradient(
        to top,
        var(--primary-col-2),
        var(--primary-col-3)
      );
      height: 130rem;
    }

    &.three {
      height: 35rem;
    }
  }

  .wave {
    position: absolute;
    z-index: 1;

    &.one {
      top: 25rem;
      fill: var(--primary-col-3);
    }

    &.two {
      top: 175rem;
      fill: var(--primary-col-2);
      transform: scale(-1, -1);
    }
  }
}
