.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-inline: 17.5%;
  color: var(--text-colour);
  user-select: none;

  .logo {
    display: flex;
    font-size: 1.35rem;
    font-weight: 300;
    user-select: none;

    span {
      font-weight: 700;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    $spacing: 3.25rem;
    gap: $spacing;
    margin-left: $spacing;
  }

  .link {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--text-colour);
    padding: 2px 4px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 3px;
      background-color: rgb(var(--primary-col-1));

      transition: width 200ms ease;
    }

    &:hover:before {
      width: 100%;

      transition: width 100ms ease 100ms;
    }
  }

  .to-top {
    box-sizing: content-box;
    position: fixed;
    top: 0.75rem;
    right: 1rem;
    $size: 1.75rem;
    width: $size;
    height: $size;
    padding: 0.2rem 0.25rem;
    cursor: pointer;

    transition: top 300ms ease;

    &.disable {
      top: -2.5rem;

      transition: top 300ms ease;
    }
  }
}
