@import "./styles/colours.scss";

:root {
  &.dark {
    @include defineColourRGB(--background-colour, 0, 0, 0);
    @include defineColourRGB(--text-colour, 255, 255, 255);
  }

  &.light {
    @include defineColourRGB(--background-colour, 255, 255, 255);
    @include defineColourRGB(--text-colour, 0, 0, 0);
  }

  &.cmyk {
    @include defineColourRGB(--primary-col-1, 221, 217, 0); // Yellow
    @include defineColourRGB(--primary-col-2, 224, 36, 99); // Magenta
    @include defineColourRGB(--primary-col-3, 0, 115, 209); // Cyan
  }

  &.rgb {
    @include defineColourRGB(--primary-col-1, 0, 255, 0); // Green
    @include defineColourRGB(--primary-col-2, 255, 0, 0); // Red
    @include defineColourRGB(--primary-col-3, 0, 0, 255); // Blue
  }
}

.App {
  width: 100vw;
  background-color: var(--background-colour);

  .kuma {
    position: fixed;
    top: 1.15rem;
    left: 1.5rem;
    color: var(--text-colour);
  }

  .circle {
    position: absolute;
    border-radius: 50rem;
    z-index: 2;

    &.one {
      top: 35%;
      left: 12.5%;
      $size: 25rem;
      width: $size;
      height: $size;
      background-image: linear-gradient(
        45deg,
        var(--primary-col-2) 10%,
        var(--primary-col-3) 90%
      );
      box-shadow: -1rem 2rem 5rem 0px alpha(var(--primary-col-2), 0.3);

      animation: hover-vert 8000ms ease-in-out infinite alternate;

      @keyframes hover-vert {
        0% {
          transform: translateY(-3rem);
        }
        100% {
          transform: translateY(3rem);
        }
      }
    }
    &.two {
      top: 17.5%;
      right: 35%;
      $size: 5rem;
      width: $size;
      height: $size;
      background-image: linear-gradient(
        320deg,
        var(--primary-col-2) 10%,
        var(--primary-col-3) 90%
      );
      box-shadow: -0.5rem 0.75rem 2rem 0px rgba(128, 0, 200, 0.3);

      animation: circle 20000ms linear infinite;

      @keyframes circle {
        0% {
          transform-origin: 0 5rem;
          transform: rotate(0deg);
        }
        100% {
          transform-origin: 0 5rem;
          transform: rotate(360deg);
        }
      }
    }
    &.three {
      top: 35%;
      right: 12.5%;
      $size: 10rem;
      width: $size;
      height: $size;
      background-image: linear-gradient(
        190deg,
        var(--primary-col-2) 10%,
        var(--primary-col-3) 90%
      );
      box-shadow: -0.5rem 1.5rem 3rem 0px alpha(var(--primary-col-3), 0.3);

      animation: hover-diag 10000ms ease-in-out infinite alternate;

      @keyframes hover-diag {
        0% {
          transform: translate(-2rem, -2rem);
        }
        100% {
          transform: translate(2rem, 2rem);
        }
      }
    }
  }
}
